 body {
     /* background-color: #5b2391; */
     /* background-color: #6a307d; */
     color: white;
 }

 .highlight-orange {
     color: #ff7a00;
 }

 .highlight-blue {
     background-color: #0cc5f8;
     color: white;
     padding: 5px 10px;
     display: inline-block;
     font-weight: bold;
     border-radius: 4px;
    min-height: 78px;
    line-height: 68px;
 }

 .btn-orange {
     background-color: #ff7a00;
     color: white;
     border: none;
 }

 .btn-orange:hover {
     background-color: #e96c00;
 }

 .btn-outline-light {
     border: 1px solid white;
 }


 .particles-js-canvas-el {
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
 }

 #mainNav li a {
     font: 400 1rem / 1.625em "Outfit", sans-serif;
 }

 .nav-hover {
     position: relative;
     display: inline-block;
     padding-top: 10px;
     transition: color 0.3s ease;
 }

 .nav-hover::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 0%;
     height: 4px;
     background-color: #15ff00;
     transition: width 0.3s ease;
 }

 .nav-hover:hover::before {
     width: 100%;
 }

 .nav-hover:hover {
     color: #ff7a00 !important;
 }

 .active-link::before {
     width: 100%;
 }

 #MainNav {
     padding-top: 0;
 }

 #MainNav li a {
     padding: 37px 18px;
 }

 #Hero h1 {
    font:700 3.25rem/1.3076923077em "Outfit", sans-serif;
 }
 

#typing { 
    width: 100%;
    display: flex;
}

#typing span {
    font: 700 3.25rem / 1.1153846154em "Outfit", sans-serif;
    padding: 8px;
}
#slugHolder {
    right: 0;
    bottom: 60px;
    position: absolute;
}
#slugHolder img { 
      max-width: 1034px !important; 
}
section#Hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6A307D;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}
.shadowButton {
    background: linear-gradient(105.69deg, #EAB308 0%, #EF4444 43.23%) !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 16px 24px rgba(0, 0, 0, 0.08) !important;
}

#loginL { 
    background-color: #F97316 !important;
    padding: 4px 20px !important;
}


.btn-orange {
  background-color: #f97316;
  color: #fff;
  border: none;
}

.btn-orange:hover {
  background-color: #fb923c;
  color: #fff;
}


