{% extends 'dashboard_base.html' %}
{% block title %}Tutor Profile{% endblock %}
{% block PageH1 %}Tutor Profile{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title">Tutor Profile</h2>
    </div>
    <div class="panel-body">
      <dl class="row">
        <dt class="col-sm-3">Full Name</dt>
        <dd class="col-sm-9">{{ tutor.user.full_name }}</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ tutor.user.email }}</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">{{ tutor.user.phone }}</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">{{ tutor.location }}</dd>

        <dt class="col-sm-3">Time Zone</dt>
        <dd class="col-sm-9">{{ tutor.time_zone }}</dd>

        <dt class="col-sm-3">Skills</dt>
        <dd class="col-sm-9">{{ tutor.skills|linebreaks }}</dd>

        <dt class="col-sm-3">Experience</dt>
        <dd class="col-sm-9">{{ tutor.experience|linebreaks }}</dd>
      </dl>
    </div>
    <div class="panel-footer">
    </div>
  </div>
</div>

{% endblock %}